<h3 class="page-title">New Post</h3>
<form>
	<div class="row">
		<div class="input-field col s12 blue-text">
			<input id="title" name="title" type="text" class="validate">
			<label for="title">Title</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<textarea id="body" class="materialize-textarea validate"></textarea>
			<label for="body">Body</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field file-field col s12">
			<div class="waves-effect waves-light btn white-text blue" (click)="openAlbumModal()">
				Album
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Select an album">
			</div>
		</div>
	</div>

	<div id="albumModal" class="modal">
		<div class="modal-content">
			<h4>Post Album</h4>
			<div class="row">
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s6"><a class="blue-text" (click)="onOpenNewAlbum()">New Album</a></li>
						<li class="tab col s6"><a class="blue-text" (click)="onOpenSelectAlbum()">Select Album</a></li>
					</ul>
				</div>
				<div class="col s12" *ngIf="album_input_type==NEW_ALBUM">
					new
				</div>
				<div class="col s12" *ngIf="album_input_type==SEL_ALBUM">
					sel
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="modal-action modal-close waves-effect waves-red btn-flat">Exit</a>
			<a class="waves-effect waves-green btn-flat" (click)="onSaveAlbum()" *ngIf="album_input_type==NEW_ALBUM">Save</a>
			<a class="waves-effect waves-green btn-flat" (click)="onSelectAlbum()" *ngIf="album_input_type==SEL_ALBUM">Select</a>
		</div>
	</div>


	<div class="row">
		<div class="input-field col s12">
			<div class="switch">
				<label>
					Private
					<input type="checkbox">
					<span class="lever"></span>
					Public
				</label>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="input-field col s12 center">
			<div class="waves-effect waves-light btn white-text blue">Post</div>
		</div>
	</div>
</form>