<h3 class="page-title">New Post</h3>
<form>
	<div class="row">
		<div class="input-field col s12 blue-text">
			<input id="title" name="title" type="text" class="validate">
			<label for="title">Title</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<textarea id="body" class="materialize-textarea validate"></textarea>
			<label for="body">Body</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field file-field col s12">
			<div class="waves-effect waves-light btn white-text blue">
				Album
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Select an album">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<div class="switch">
				<label>
					Private
					<input type="checkbox">
					<span class="lever"></span>
					Public
				</label>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="input-field col s12 center">
			<div class="waves-effect waves-light btn white-text blue">Post</div>
		</div>
	</div>
</form>