:host {
	display: block;
	position: relative;
}
#content {
	position: relative;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 100px;
}
@media(min-width:993px) {
	#content {
		padding-left: 310px;
	}
}