:host {
	display: block;
	position: relative;
}
#content {
	position: relative;
	margin-top: 40px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 100px;
	height: calc( 100vh - 40px );
	overflow-y: auto;
}
@media(min-width:993px) {
	#content {
		padding-left: 310px;
	}
}