  <ul id="slide-out" class="side-nav fixed">
    <li><div class="user-view">
      <div class="background">
        <img src="https://justeatit.johnfedoruk.ca/assets/images/cover-photos/nerd.jpg" height="100%">
      </div>
      <a href="#!user"><img class="circle" src="https://justeatit.johnfedoruk.ca/assets/images/profile-photos/johnny-london.jpg"></a>
      <a href="#!name"><span class="name">John Fedoruk</span></a>
      <a href="#!email"><span class="email">johnny@johnfedoruk.ca</span></a>
    </div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
    <li><a class="waves-effect" href="#!">Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>