.name, .email {
	color: white;
    font-size: 17px !important;
	text-shadow: rgba(0,0,0,.7) 0 0 2px;
}
ul.side-nav {
	height: 100vh;
}
ul.side-nav.fixed:not(:hover) .user-view {
	width: 300px;
}
ul.side-nav.fixed {
    overflow: hidden;
	top: 40px;
	height: calc( 100vh - 40px );
	z-index: 999;
}
ul.side-nav:not(.fixed) {
	z-index: 1001;
}

@media(max-width:992px) {
	ul.side-nav.fixed {
		z-index: 1001;
	}
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}
.fa {
	color: rgba(0,0,0,.7);
}
.fa.fa-bars {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	color: rgba(0,0,0,.7);
	z-index: 1001;
}
@media(min-width:993px) {
	.button-collapse {
		display: none;
	}
}