  <ul id="slide-out" class="side-nav fixed">
    <li><div class="user-view">
      <div class="background">
        <img src="https://justeatit.johnfedoruk.ca/assets/images/cover-photos/nerd.jpg" height="100%">
      </div>
      <a href="#!user"><img class="circle" src="https://justeatit.johnfedoruk.ca/assets/images/profile-photos/johnny-london.jpg"></a>
      <a href="#!name"><span class="name">John Fedoruk</span></a>
      <a href="#!email"><span class="email">johnny@johnfedoruk.ca</span></a>
    </div></li>
    <li><a class="subheader">Account</a></li>
    <li><a class="waves-effect" href="#!">Account Info</a></li>
    <li><a class="waves-effect" href="#!">Accomplishments</a></li>
    <li><a class="waves-effect" href="#!">Profile Picture</a></li>
    <li><a class="waves-effect" href="#!">Cover Picture</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Posts</a></li>
    <li><a class="waves-effect" href="#!">List Posts</a></li>
    <li><a class="waves-effect" href="#!">New Post</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Albums</a></li>
    <li><a class="waves-effect" href="#!">List Albums</a></li>
    <li><a class="waves-effect" href="#!">New Albums</a></li>
    <li><a class="subheader">System</a></li>
    <li><a class="waves-effect" href="#!">Statistics</a></li>
    <li><a class="waves-effect" href="#!">Manage Settings</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>